<div class="item-row">
  <% if cancan_disabled? || ( can? :delete, @object ) %>
    <div  class="item-col fixed item-col-check">
      <%= link_to_destroy(@object, @update_span) -%>
    </div>
    <div  class="item-col fixed pull-left item-col-title">
      <h4 class="item-title">
        <%= link_to h(@object._presentation), send(@object.class.to_s.underscore + "_path", @object, :update => @update_span), :remote => true -%>
      </h4>
    </div>
  <% else %>
    <div  class="item-col fixed pull-left item-col-title">
      <h4 class="item-title">
        <%= link_to h(@object._presentation), send(@object.class.to_s.underscore + "_path", @object, :update => @update_span), :remote => true -%>
      </h4>
    </div>
  <% end %>
</div>
