<% css_class_id = "#{@object.class.name.underscore}_#{@object.id}_versions" -%>
<h5 class="card-title">
  <%= "Versions (#{@object.versions.length})" %>
  <%= link_to_versions_list(
        'list_versions_' + @object.class.to_s.underscore + "_path",
        @object,
        css_class_id
      )
    %>
</h5>
