<div class='contain-to-grid'>
  <nav id='inline_forms_devise_top_nav_bar' class="navbar navbar-expand-md navbar-dark fixed-top navbar-custom">
    <div class="container d-flex justify-content-between">
      <a class="navbar-brand" href="/"><%= t('inline_forms.devise.title_for_devise') %> <%= InlineForms::VERSION %></a>
    </div>
  </nav>
</div>
