@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic);
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

// @import 'foundation_and_overrides';

.contain-to-grid {
  background-color: $body-bg !important;
}

.navbar-custom {
  background-color: #A3381E;
}

#inline_forms_devise_outer_container a {
  color: #A3381E;
}

#inline_forms_devise_flash_div {
  margin-top: 1em;
}

#inline_forms_devise_header_row{
  h1 {
    text-align: center;
    margin: 30px 0;
    color: #A3381E;
  }
}

#inline_forms_devise_container {
  .row {
    margin-bottom: 30px;
  }
}

#inline_forms_devise_content_column {
  hr {
    width: 96%;
    margin: auto;
  }
}

#inline_forms_devise_content {
  padding: 0 1em 1em 3em;
  h1 {
    text-align: center;
    margin: 0 0 0.5em 0;
    color: #A3381E;
    font-weight: bolder;
  }
}

// bootstrap new

body {
  padding-top: 3rem;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.devise-links {
  margin-top: 20px;
}
